<div style="font-size:20px; font-weight:bold"></div>
		<div style="font-weight:bold;"></div>
		<div style="font-size:12pt; font-weight:bold; text-align:center">USULAN PEMBAYARAN</div><br/>
		<table width="100%" border="0" cellspacing="0">
		  <tr>
			<td width="4%" align="left" style="font-size:14pt;"></td>
			<td width="12%" align="left" style="font-size:14pt;"></td>
			<td width="45%" align="left" style="font-size:14pt;"></td>
			<td width="12%" align="left" style="font-size:14pt;"></td>
			<td width="12%" align="left" style="font-size:14pt;"></td>
			<td width="12%" align="left" style="font-size:14pt;"></td>
			<td width="14%" align="left" style="font-size:14pt;">FORMULIR A-1</td>
			<td width="14%" align="left" style="font-size:14pt;">:</td>
			<td width="14%" colspan="2" align="left" style="font-size:14pt;"></td>
		  </tr><tr>
			<td width="4%" align="left" style="font-size:14pt;"></td>
			<td width="12%" align="left" style="font-size:14pt;"></td>
			<td width="45%" align="left" style="font-size:14pt;"></td>
			<td width="12%" align="left" style="font-size:14pt;"></td>
			<td width="12%" align="left" style="font-size:14pt;"></td>
			<td width="12%" align="left" style="font-size:14pt;"></td>
			<td width="20%" align="left" style="font-size:14pt;">NO. BIDANG/CABANG</td>
			<td width="2px" align="left" style="font-size:14pt;">:</td>
			<td width="1px" align="left" style="font-size:14pt;"></td>
			<td width="1%" align="left" style="font-size:14pt;">/P-SDM/2019</td>
		  </tr><tr>
			<td width="4%" align="left" style="font-size:14pt;"></td>
			<td width="12%" align="left" style="font-size:14pt;"></td>
			<td width="45%" align="left" style="font-size:14pt;"></td>
			<td width="12%" align="left" style="font-size:14pt;"></td>
			<td width="12%" align="left" style="font-size:14pt;"></td>
			<td width="12%" align="left" style="font-size:14pt;"></td>
			<td width="14%" align="left" style="font-size:14pt;">NO. ANGGARAN</td>
			<td width="14%" align="left" style="font-size:14pt;">:</td>
			<td width="14%" colspan="2" align="left" style="font-size:14pt;"></td>
		  </tr>
		</table><br/><table width="100%" border="1" cellspacing="0" cellpadding="2">
		  <tr>
			<td height="32" width="4%" align="center" style="font-size:14pt;">NO.</td>
			<td width="12%" align="center" style="font-size:14pt;">KODE PERKIRAAN</td>
			<td width="45%" align="center" style="font-size:14pt;">JENIS PEMBAYARAN</td>
			<td width="12%" align="center" style="font-size:14pt;">BANYAKNYA</td>
			<td width="12%" align="center" style="font-size:14pt;">HARGA SATUAN</td>
			<td width="12%" align="center" style="font-size:14pt;">HARGA KESELURUHAN</td>
			<td width="14%" align="center" style="font-size:14pt;">DASAR PEMBAYARAN</td>
			<td width="14%" align="center" style="font-size:14pt;">LOKASI</td>
			<td width="14%" align="center" style="font-size:14pt;">KETERANGAN</td>
		  </tr><tr>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">1</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">2</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">3</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">4</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">5</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">6</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">7</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">8</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">9</td>			
		</tr><tr>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">1</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">2</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">3</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">4</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">5</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">6</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">7</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">8</td>
			<td align="center" style="border-top:none;border-left:solid black 1.0pt;border-bottom:none;font-size:14pt;">9</td>			
		</tr>
		</table>